
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ COMPANY_NAME }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      
      .crop{
      //position:absolute;
      clip:rect(25px 25px 155px 82px);
      max-height="50px"
      }
    </style>
    <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#"><img src={{ COMPANY_LOGO }}></a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="/home">Home</a></li>
              <li><a href="/rentals">Rentals</a></li>
              <li><a href="/forsales">For Sales</a></li>
              <li><a href="/rentalandsales">Rentals & For Sales</a></li>
              <li><a href="/aboutus">About Us</a></li>
              <li><a href="/contact">Contact</a></li>
	
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
     

      <!-- Example row of columns -->
      <div class="row well">
        <center><div class="span12"><h1>{{ COMPANY_SLOGAN }}</h2>
  
        </div></center>
</div>
{% block content %}


{% endblock content %}
      <footer>
        <p>&copy; {{ COMPANY_NAME }}, 2012</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery.js"></script>
    
    <script src="/assets/js/bootstrap.min.js"></script>

    <script src="/assets/js/bootstrap-transition.js"></script>
    <!-- <script src="/assets/js/bootstrap-alert.js"></script> -->
    <!-- <script src="/assets/js/bootstrap-modal.js"></script> -->
    <!-- <script src="/assets/js/bootstrap-dropdown.js"></script> -->
    <!-- <script src="/assets/js/bootstrap-scrollspy.js"></script> -->
    <!-- <script src="/assets/js/bootstrap-tab.js"></script> -->
    <!-- <script src="/assets/js/bootstrap-tooltip.js"></script> -->
    <!-- <script src="/assets/js/bootstrap-popover.js"></script> -->
    <!-- <script src="/assets/js/bootstrap-button.js"></script> -->
    <!-- <script src="/assets/js/bootstrap-collapse.js"></script> -->
    <!-- <script src="/assets/js/bootstrap-carousel.js"></script> -->
    <!-- <script src="/assets/js/bootstrap-typeahead.js"></script> -->
    <script>
 $(function () {
    //    $('.carousel').carousel({ interval: 2000 })

        $('#myCarousel').carousel({interval:5000})
});
</script>
  </body>
</html>
