{% extends "base.html" %}

{% block content %}
<center><div id="myCarousel" class="carousel slide" style="width:80%;">
  <!-- Carousel items -->
  <div class="carousel-inner">
    {% for obj in photos %}
    <div class="item {% if forloop.first %}active{% endif %}"><center><img src="{{ MEDIA_URL }}{{ obj.house.photo.fixed_url }}" height="500px" widh="860px"></center><div class="carousel-caption"><h4>{{ obj.house.room }} + {{ obj.house.saloon }}</h4> <span class="label label-warning">{{ obj.cost }} TL</span><p>{{ obj.house.description|truncatewords:10 }}</p></div></div>
    {% endfor %}
  </div>

<br><br>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
</center>
    <div class="row">
    {% for ad in rental|slice:":4" %}
        <div class="span4 well" style="width: 230px;">
          <h3><span class="label pull-right">RENTAL</span> {{ ad.house.room }} + {{ ad.house.saloon }}</h3><br>
          <img class="crop" src="{{ MEDIA_URL }}{{ ad.house.photo.fixed_url }}" ><span class="label label-warning">{{ ad.cost }} TL</span><p><br>{{ ad.house.description }}</p>
          <p><a class="btn" href="">View details &raquo;</a></p>
        </div>
    
    {% empty %}
        <div class="span12">
          <h2>Sorry!</h2>
           <p>No ads to display!</p>
        </div>

    {% endfor %}
      </div><!-- /row -->
<hr>
    <div class="row">
    {% for ad in for_sale|slice:":3" %}
        <div class="span4 well" style="width: 230px;">
          <h3><span class="label pull-right">RENTAL</span> {{ ad.house.room }} + {{ ad.house.saloon }}</h3><br><span class="label label-warning">{{ ad.cost }} TL</span>
           <img src="{{ ad.photo }}"><p><br>{{ ad.house.description }}</p>
          <p><a class="btn" href="">View details &raquo;</a></p>
        </div>
    {% empty %}
        <div class="span12">
          <h2>Sorry!</h2>
           <p>No ads to display!</p>
        </div>
  {% endfor %}
      </div><!-- /row -->



      <hr>
{% endblock content %}
