{% extends "base.html" %}

{% block content %}
<div class="row">
    {% for ad in rental %}
        <div class="span2 well">
          <h3><span class="label pull-right">RENTAL</span> {{ ad.house.room }} + {{ ad.house.saloon }}</h3><br>
           <img src="{{ MEDIA_URL }}{{ ad.house.photo.fixed_url }}"><span class="label label-warning">{{ ad.cost }} TL</span><p><br>{{ ad.house.description }}</p>
          <p><a class="btn" href="">View details &raquo;</a></p>
        </div>
    
    {% empty %}
        <div class="span12">
          <h2>Sorry!</h2>
           <p>No ads to display!</p>
        </div>

    {% endfor %}
      </div><!-- /row -->
{% endblock %}
