{% extends "base.html" %}

{% block content %}
<div class="row-fluid">
  <div class="span12">
      <div class="row">
      <div class="span6 well">
      
      <img class="small" src="{{ MEDIA_URL }}{{ rental.house.photo.fixed_url }}" /><br>
      <p>{{ rental.house.description }}</p>
      </div>
      
      <div class="span6 well">
      Area: {{ rental.house.area }}
      Rooms: {{ rental.house.room }}
      </div>
      
      
      </div>  
  </div>
</div>

{% endblock %}
